# Basic concepts on random variables and Probability

This exercise is due .......... Please save this notebook as .ipynb file and upload it to the folder "GEO4310/Resources/Exercises/Hand-in of exercises" in Fronter. The report should answer all questions given in the exercise text and contain the relevant plots and output. For each python command given in this notebook, write a comment (a line starting with #) to demonstrate that you understand what it does.

##### Name:-
##### Date:-

### Part I: Daily precipitation in Uppsala(1981-1991)

Observed daily precipitation in Uppsala (1981 -1991) is available in the file P_Uppsala.dat
(columns are year, month, day and p[mm/day])

Note: pandas is a data analysis tools for python. So before writing the codes you need to import pandas modules.
To read this file in to python, write

In [1]:
import pandas as pd
precip_daily = pd.read_table('P_Uppsala.dat')

    precip_daily 	is the name of the object. You may choose another name, but avoid the following sings: space,-, +, *, /, \, ^, ‘, “.  Separate words using the underscore (_) or dot (.), 
    The = is the assignment variable in python.
    read_table()	is a function to read data from file. Arguments are separated with comma (,)
    'P_Uppsala.dat'	is the file that you would like to read.
    header = None	means that there is no header names and data is read from first row

To look at the first row of your file, type:

In [2]:
precip_daily.columns

Index(['1981', '1', '1.1', '1.5'], dtype='object')

We observe that the first row consists of the following: [u'1981', u'1', u'1.1', u'1.5']
The reason is that the columns do not have any names. We can assign the header names by reading the file again and adding meaningful names to the columns, and run the same command we get the following:

In [3]:
precip_daily=pd.read_table("P_Uppsala.dat",header=None,names=['year','month','day','prec'])
precip_daily.columns

Index(['year', 'month', 'day', 'prec'], dtype='object')

precip_daily is the name of the object. 
You may choose another name, but avoid the following sings: space,-, +, *, /, \, ^, ‘,“. 
Separate words using the underscore (_) or (.). 
The = sign is the assignment variable in python.

read_table() is a function to read data from file. 
Note that arguments are separated with a comma (,). 

'P_Uppsala.dat' is the file that you would like to read.

header = None means that there is no header names and data is read from first row.

For calculating yearly total from 'precip'_daily data

In [5]:
yearly_total = precip_daily.groupby('year', axis = 0) ['prec'].sum()
yearly_total

year
1981    892.5
1982    754.9
1983    846.6
1984    750.9
1985    698.5
1986    895.2
1987    599.2
1988    792.5
1989    513.4
1990    814.2
1991    732.3
Name: prec, dtype: float64

#### Question No 1.
From monthly data (file P_uppmonth1.dat): compute for each month (column wise) mean, median, mode, standard deviation,
coefficient of variation, minimum and maximum and plot these values to show the annual variation.

In [6]:
precip_mon = pd.read_table('P_uppmonth1.dat')
precip_mon.columns

Index(['year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'],
      dtype='object')

In [7]:
precip_mon

    year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0   1981   32   26   62   22   23   98   80  163   13  122  144  109
1   1982   42   30   54   50  192   37   52   77   48   46   74   52
2   1983   78   10  107   46   36  105   80   25  188   58   36   78
3   1984   72   29   34   11   29   97   67   51  145  114   51   51
4   1985   83   37   42   69   23   25  104   50   76   53   74   63
5   1986   50   12   69   51   77   39  121  234   56   45   54   89
6   1987   23   28   22    4   55   77   92  122   65   34   54   24
7   1988   72   64   40   37   41   51  106  173   36   69   38   66
8   1989    9   28   51   55   38   42   11   68   23   74   55   59
9   1990   74   79   56   46   30   25  128   42  153   79   60   42
10  1991   59   29   41   24   78  142   54  124   71   27   47   37

To calculate annual sum from monthly data sets

In [8]:
annual_sum =precip_mon.set_index('year').sum(axis=1)

Note: if you dont want to keep the year info for each sum then ' data.drop('year', axis=1).sum(axis=1)'

Statistical calculation becomes easier when defining dataframe. We can define dataframe in the following way:

In [9]:
mon_df = pd.DataFrame(precip_mon, columns = precip_mon.columns[1:])

Note: giving the arguments columns = precip_mon.columns[1:], will define data frame from one onward i.e it will exclude year.

To find the monthly means, write,

In [10]:
mon_mean = mon_df.mean(axis = 0)

If you wish to round off the answer to the same number of decimals as the monthly data, type:

In [11]:
mon_mean = mon_df.mean(axis = 0).round(0)

Plotting the data in python, you need to import module matplotlib.pyplot, to import write:

In [12]:
%matplotlib inline 

#The first call, matplotlib inline, is only for the online notebook, it should not be there
#if you write scripts/programs locally on youre own computer

#import matplotlib.pyplot as plt 
#mon_mean['Jan':'Dec'].plot()
#plt.xlabel('Month')
#plt.ylabel('Mean precipitation (mm)')
#plt.title('Annual variation in mean precipitation')
#plt.show()

Note: If you wish to change line type, colour and marker style then you have to write:

In [13]:
#plt.plot(mon_mean['Jan':'Dec'], linestyle="dashed", marker="o", color="green") #This line gives the new format
#plt.xlabel('Month')
#plt.ylabel('Mean precipitation (mm)')
#plt.title('Annual variation in mean precipitation')
#plt.show()

Showing annual variation in different parameters by making one plot.

Hint: First you need to join the data sets (i.e. mean, median, max and min) after calculations. You can join datasets by writing:

In [14]:
#all_stats = pd.concat([mon_mean, mon_median, mon_min, mon_max], axis = 1)
#all_stats['Jan':'Dec'].plot()
#plt.legend(['mean', 'median', 'min', 'max'], loc='upper left')
#plt.xlabel('Month')
#plt.ylabel('Precipitation[mm]')
#plt.title('Annual variation in precipitation')
#plt.show()

#### Question No 2.
For daily data (file P_Uppsala.dat): Calculate the probability for daily precipitation that

1. Equal zero 
2. more than zero 
3. more than 10 mm
4. more than 10 mm for days with precipitation

To answer these questions, we need to use following logical operators.

||||
------------ | ------------- | ------------ | -------------
< | less than | == | exactly equal to
<= | less than or equal to | != | not equal to 
    \> | greater than | x $\text{|}$ y  | x OR y
\>= |greater than or equal to | x & y | x and y

For example: probability that the precipitation equals to to zero can be calculated by:

(Total numbers of zero events / number to events)*100

To use division in python, import the function below:

In [15]:
from __future__ import division
daily_zero = sum(x==0 for x in precip_daily['prec'])
nuumber_of_events = len(precip_daily['prec'])

Note: In above code we have calculated the probability equals to zero by:
        
(Total numbers of zero events / number of events )*100

#### Question No 3.
From the daily data, calculate:
    
1) maximum 1-day, 3-day and 5-day average rainfall amount, and state the date/period.

##### Hint: For one day maximum precipitation with date

In [16]:
odmax = precip_daily[precip_daily['prec']==precip_daily['prec'].max()]

If the data are in column 'prec' then we can find out the maximum by sorting in ascending order

In [17]:
odmax = precip_daily.sort(['prec'],ascending = False).head(1)

/home/bikas/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

Or we can also calculate one day maximum by

In [19]:
odmax = precip_daily['prec'].max() # [Note: it will only show maximum value i.e with out date]
#print "Prec=%.1f" % odmax #The %.1f tells to print the value in odmax with one decimal point for a float number

##### Hint: Maximum 3 day average rainfall

In [20]:
precip_daily['mv']=pd.rolling_mean(precip_daily['prec'], 3)
max_3d_avg = precip_daily[precip_daily['mv']==precip_daily['mv'].max()]


#Precip_daily['mv'] inserting the column name 'mv' in to data series precip_daily
#pd.rolling_mean calculating moving average from module pandas
#3 is the number of average days

/home/bikas/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=3).mean()
  if __name__ == '__main__':

Similarly calculate for 5 days maximum average.

#### Question No 4.
Length of the maximum dry-spell days and the maximum wet-spell days of daily rainfall.

To calculate maximum dry-spell days according to month

In [21]:
def func(group): return (group.prec != 0).astype(int).cumsum().value_counts().values[0] - 1
max_D_S = precip_daily.groupby(['year','month']).apply(func)

#To find maximum dry spell days
#print "Maximum dry spell days = %d " % max_D_S.max()
# To find date of maximum dry spell date
# max_D_S.idxmax()

In [22]:
max_D_S.idxmax()

(1981, 5)

Note: There might be continuous longer dry-spell periods starting from one month and ending in next month, in this case we group by yearly only and see the longer dry-spell by the following ways

In [23]:
yearly_dry_day = precip_daily.groupby(['year']).apply(func)

Similarly calculate for wet spell

[Note: when you group by month also then you will get different result because, the rainy days starting form one month and ending in next month so the result is different.]

### Part II. About probability and frequency.

The depth of clarity of Lake Tahoe was measured at several different places with the results in inches is available on the file Tahoe.dat

1. Plot the histogram (relative frequency) with class intervals of length 5.
2. Plot the cumulative relative frequency and estimate Prob(D≤40)≈? and Prob(15≤D≤30) ≈?

In [24]:
#First read and check the data

tahoe = pd.read_table('Tahoe.dat')

In [25]:
data_types = tahoe.dtypes # to know about data types

There are two columns one is with data and other is without data so exclude the column having without data.
So we can define dataframe by this way,

In [26]:
#first assign the headers name
tahoe = pd.read_table('Tahoe.dat', header = None, names = ['depth','nan'])

#define dataframe
df_tahoe= pd.DataFrame(tahoe['depth'])

# Plot relative histogram
#plt.hist(df_tahoe['depth'], bins= 8, normed = True)

Define x-label, y-label, and title of the figure. [ Note: If you want to plot regular histogram then just give the command plt.hist(df['depth'])]. For plotting cumulative frequency change to cumulative instead of normed.

Calculate from above data that the probability that the depth of lake is

1. more than 40 inch
2. In between 15 to 30 inch

Hint: for problem 2 use between function like 'between(15,30)'

### Part III. The frequency function for a continuous stochastic variable is shown below. Solve the problems analytically.

$$
f(x) = \left\{
        \begin{array}{ll}
            cx^2 & \quad 0 < x < 1 \\
            0 & \quad \text{otherwise}
        \end{array}
    \right.
$$

1. Find the value for c so that f(x) becomes a density function. Use that F(x) = 1
2. Calculate Prob(x < 0), Prob(x = 0.5), Prob(x > 1), Prob(0<=x<=0.5) and Prob(0<x< 0.5)
3. Find the distribution function, F(x)
4. Find the median
5. Find the mode
6. Calculate the expectation, E(x)
7. Calculate the variance, var(x)